::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
  background-color: rgba(255,255,255,0.7);

::-webkit-scrollbar
  width: 6px;
  background-color: black;

::-webkit-scrollbar-thumb 
  background-color: rgba(68,92,135,0.6);
#app
  text-align center
  color #2c3e50

.back_body
  background: rgba(203, 203, 210, 0.15);
// 後台
.wrapper
  position: relative
  top: 0
  height: 100vh

.sidebar
  position: fixed
  top: 0
  bottom: 0
  right: auto
  left: 0
  width: 260px
  display: block
  z-index: 1
  color: #fff
  font-weight: 200
  background-size: cover
  background-position: center center

.sidebar .sidebar-wrapper
  position: relative
  max-height: calc(100vh - 75px)
  min-height: 100%
  overflow: auto
  width: 260px
  z-index: 4
  padding-bottom: 100px

.sidebar .sidebar-background
  position: absolute
  z-index: 1
  height: 100%
  width: 100%
  display: block
  top: 0
  left: 0
  background-size: cover
  background-position: center center

.backimage
  background-image: url('../assets/img/sidebar-6.jpg')

.sidebar .nav
  display: block
  margin-top: 10px
  float: none

.sidebar .nav .open > a,
.sidebar .nav li.dropdown .dropdown-menu li:hover > a,
.sidebar .nav li:hover > a,
.afont:hover
  background-color: rgba(255, 255, 255, 0.13)
  opacity: 1

.sidebar .nav li
  padding-top: 10px
  padding-bottom: 5px

.sidebar .nav li > .hit
  color: #FFFFFF
  margin: 5px 15px
  opacity: .86
  border-radius: 4px
  display: block
  text-decoration: none
  padding-right: 20px

.sidebar .nav p
  margin: 0
  line-height: 50px
  font-size: 17px
  font-weight: 600
  text-transform: uppercase
  margin-left: 20px
  font-family: 'Noto Sans TC',sans-serif

.sidebar .nav i
  font-size: 28px
  float: left
  margin-left: 10px
  margin-right: 15px
  line-height: 50px
  width: 30px
  text-align: center

.sidebar .logo
  padding: 10px 15px

.sidebar .logo img
  position: relative
  left: 25%

.sidebar:after,
.sidebar:before
  display: block
  content: ""
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 2

.sidebar:before
  opacity: .33
  background: #000000

.sidebar:after
  background: #787878
  background-size: 150% 150%
  z-index: 3
  opacity: 1

.sidebar[data-image]:after,
.sidebar.has-image:after
  opacity: .77

.sidebar[data-color="azure"]:after
  background: #1DC7EA
  background: linear-gradient(to bottom, #1DC7EA 0%, #4091ff 100%)
  background-size: 150% 150%

.sidebar .nav > li.active-pro
  position: absolute
  width: 100%
  bottom: 10px

.sidebar .nav > li.active-pro a
  background: rgba(255, 255, 255, 0.14)
  opacity: 1
  color: #FFFFFF

.nav img
  width: 30px
  height: 30px

.afont
  font-size: 14px
  height: 30px
  font-family: 'Noto Sans TC',sans-serif
  padding-left: 70px
  margin-bottom: 8px

.afont img
  width: 20px
  height: 20px

.main-panel
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);

.bread-default
  background-color: rgba(255, 255, 255, 0.96)
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  font-size: 20px
.bread-default a
  display: inline

.main-panel > .content
  padding: 30px 15px
  min-height: calc(100% - 123px)

.admin_title
  font-size: 37px
  position: relative
  top: -70px
  left: 95px

.admin_title_box
  background: #1DC7EA
  position: relative
  width: 65px
  height: 65px
  top: -80px
  left: 90px

.admin_icon
  position: relative
  top:10px

.admin_hyperlink
  color:#2c3e50

.admin_hyperlink:hover
  text-decoration: none
  color: #947f6a

.admin_content
  font-size: 70px
  text-align: right
  position: relative
  top: 50px
  left: -75px

.admin_unit
  position: relative
  font-size: 23px
  top: -15px
  left: 150px

.admin_box
  width: 380px
  height: 150px
  background: white

// 後台登入
.login_f1
  width: 25rem
  height: 25rem
  background:rgba(255,255,255,0.6)
  border-radius: 1rem
  position: relative

.login_body
  background: url('../assets/img/bg.jpg') no-repeat center
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  background-size: cover
  height: 100vh

.box2
  background: rgba(6, 85, 122, 0.6)
  position: absolute
  top: -50px
  left: 150px
  width: 100px
  height: 100px
  border-radius: 50%
  color: white

.login_span
  font-size: 30px
  color:rgba(71, 69, 69, 0.781)

.login_icon
  color: white
  width: 65px
  height: 65px

.login_input_icon
  width: 14px
  height: 16px

// back_account table
.bka_tb
  width: 90%

.bka_tb td
  vertical-align: middle
  text-align: center

// navbar
li
  list-style-type: none

.topBar .barBox .bar_left .menu li .menuBtn span:first-child
  font-family: "Adobe Heiti"

a,a:before,a>*
  display: block
  transition: 0.3s

.topBar_m
  display: none

.topBar
  position: fixed
  z-index: 99
  top: 0
  width: 100%
  min-width: 1000px
  
.topBar .bar_right
  position: relative
  top: 10px

.topBar:before
  content: ""
  position: absolute
  top: 0
  display: block
  width: 100%
  height: 77px
  background:rgba(255,255,255,0.8)
  box-shadow:0 4px 4px rgba(255,255,255,0.5)

.topBar .barBox
  position: relative
  display: flex
  justify-content: space-between
  align-items: flex-start
  padding: 0 10px 0 15px

.topBar .bar_left
  display:flex
  align-items: flex-start

.topBar .bar_left .logo
  margin:-7px 8px 0 -8px

.logo img
  width: 263px
  height: 169px
  filter: drop-shadow(6px 6px 3px rgba(15, 175, 242, 0.7))

.topBar .barBox .bar_left .menu
  display: flex
  margin-top: 5px

.topBar .barBox .bar_left .menu li
  position: relative

.topBar .barBox .bar_left .menu li .menuBtn
  display: block
  padding: 19px 21px 12px 33px
  background:url("../assets/icon/menu_icon.png") no-repeat 18px 21px
  text-decoration: none

.topBar .barBox .bar_left .menu li .menuBtn span:first-child
  font-size: 19px
  color:#647492
  line-height: 25px

.topBar .barBox .bar_left .menu li .menuBtn span:last-child
  padding-left: 1px
  font-size: 12px
  color:#b8c3d7

.topBar .barBox .bar_left .menu li .menuBtn.focus span:first-child,.topBar .barBox .bar_left .menu li .menuBtn:hover span:first-child
  color:#36A5EB
  font-weight: 900

.topBar .barBox .bar_left .menu li .menuBtn.focus span:last-child,.topBar .barBox .bar_left .menu li .menuBtn:hover span:last-child
  color:#57A0F2
  font-weight: 400

// home
.home
  background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.4)),url('../assets/img/home.png') no-repeat center/cover
  height: 100% 
  transform: scale(1)

.home video
  object-fit: cover
  width: 100%
  height: 100vh
  top: 0
  left: 0

.m_poster
  display: none

.title_img
  width:100%

.m_title_img
  display: none 

// home --> tabnav
.pc_news .carousel-indicators li 
  box-sizing: content-box
  flex: 0 1 auto
  width: 15px
  height: 15px
  text-align: center
  margin-bottom: -19px
  margin-right: 3px
  margin-left: 3px
  border-radius: 50%
  cursor: pointer
  background-color: #fff
  opacity: 0.5

.imgsize
  width: 100%
  height: 338px

#new 
  width: 530px
  overflow: hidden

#new .tabNav
  position: relative
  display: flex
  width: 100%

#new .tabNav .tab_nav
  margin-right: 1px
  background: transparent

#new .tabNav .tab_nav:last-of-type
  margin-right: 0

#new .tabNav .tab_nav a
  padding: 10px 20px
  font-size: 18px
  color:#575f6d
  line-height: 18px
  text-align: center
  border-radius: 8px 8px 0 0

#new .tabNav .tab_nav a:hover
  padding-bottom: 9px
  margin-bottom: 1px
  color:#fff
  background:#7D889B
  
#new .tabNav .tab_nav.focus a,
#new .tabNav .tab_nav.focus a:hover
  padding-bottom: 10px
  margin-bottom: 0
  color:#fff
  background:#575f6d

#new .tabNav .btn_more
  position: absolute
  top: 0
  right: 0
  bottom: 0
  margin: auto
  width: 66px
  height: 30px
  font-size: 16px
  color:#fff
  line-height: 30px
  text-align: center
  background:#575f6d
  border-radius: 4px

#new .tabNav .btn_more:hover
  background:#7D889B
  text-decoration: none

#new .tabs
  padding: 17px 0
  height: 300px
  border: 2px #575f6d solid
  border-left-width: 0
  border-right-width: 0

#new .tabs .tab
  height: 252px
  overflow: hidden

#new .tabs .list a
  position: relative
  width: 100%
  height: 50px
  font-size: 15px
  border-bottom: 1px #b8beca solid
  text-decoration: none

#new .tabs .list a>*
  line-height: 27px

.newstitle
  padding-top: 9px
  padding-bottom: 10px
  padding-left: 85px
  width: 75%
  color:#575f6d
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  text-align: left

#new .tabs .list a:hover
  color:#000
  background:rgba(0,0,0,0.1)

.newsdate
  position: absolute
  top: 0
  margin: 9px 0 8px
  right: 0
  color:#575f6d

#new .tabs .list a span
  left: 0
  width: 76px
  color:#fff
  text-align: center
  background:#627eb2
  border-radius: 4px
  position: absolute
  top: 9px

#new .tabs .list a:nth-child(5)
  border-bottom-width: 0

// home --> world
.world-bg
  width: 1000px
  height: 500px

.worldname
  background: url('../assets/img/world_title.png') no-repeat center
  background-size: contain
  height: 35px

.pc_world span
  color: #fff
  text-shadow: 3px 2px 1px #947f6a;
  font-size: 20px

.pc_world .world-content
  display: flex
  position: absolute
  color: #fff
  text-shadow: 3px 2px 1px #947f6a;
  line-height: 35px
  width: 100%
  height: 100%
  font-size: 20px
  justify-content: center
  top: 100px

.pc_world .carousel-control-prev-icon
  background: url('../assets/icon/arrow_left.png') no-repeat center/40px
  opacity: 1

.pc_world .carousel-control-prev
  bottom: 500px
  left: 280px

.pc_world .carousel-control-next-icon
  background: url('../assets/icon/arrow_right.png') no-repeat center/40px
  opacity: 1

.pc_world .carousel-control-next
  bottom: 500px
  right: 280px

.pc_world .city_detail
  position: absolute
  display: flex
  width: 100%
  flex-direction: column
  align-items: center
  justify-content: center
  bottom: 0px
  border: none
  background: transparent
  cursor: pointer

.pc_world .city_detail::before
  z-index: 2
  display: block
  content: ''
  width: 54px
  height: 54px
  transform-origin: center
  background:url('../assets/icon/world_open.png') center no-repeat
  background-size: 100% auto

.pc_world .city_detail::after
  content: ''
  position: absolute
  top: 30px
  left: 50%
  width: 120px
  height: 120px
  background:url('../assets/icon/world_open_out.png') center no-repeat
  background-size: cover
  transform-origin: center
  animation: wave 1s linear infinite

.pc_world .city_detail p
  color: #947f6a
  font-size: 14px
  line-height: 31px
  text-align: center

.cityimg
  width: 100%
  height: 100%

.modal-header 
  display: flex
  align-items: flex-start
  justify-content: space-between
  padding: 1rem 1rem
  border-bottom: 0px
  background: rgba(128,128,128,0.1) url('../assets/img/modal_title.png') no-repeat left center/auto 100%

.modal-header .close
  color: #445c87

.modal-title
  width: 640px
  height: 60px
  line-height: 60px
  font-size: 28px

.modal-content
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  pointer-events: auto
  color: #445c8
  background: rgba(255,255,255,0.8)
  border-radius: 15px

.h_city
  position: relative
  font-weight: 400
  font-size: 26px
  line-height: 66px
  height: 66px
  width: 100%
  border-bottom: 3px solid rgba(255,255,255,0.1)
  margin-bottom: 20px

.h_city::after
  content: ''
  position: absolute
  left: 0
  bottom: -3px
  width: 80px
  height: 3px
  background: #cca574

@keyframes wave
  0%
      transform:translate(-50%, -50%) scale(0.5)
      opacity:1
  
  80%
      transform:translate(-50%, -50%) scale(0.9)
      opacity:0.6
  
  100%
      transform:translate(-50%, -50%) scale(1)
      opacity:0
  
// home --> character
.m_character
  display: none

.pc_character
  height: 1000px

.pc_character .character_flex
  position: relative
  left: -110px

.character_bk
  height: 870px

.character_option
  position: relative
  width:10%
  left: 70px
  padding-top: 10px

.character_attribute
  width: 40%
  position: absolute
  z-index: -1
  opacity: 0.65
  left: 150px

.character_bimg
  width: 110%
  height: 85vh

.character_name
  position: relative
  display: flex
  width: 330px
  height: 54px
  top: -300px
  left: 100px
  font-size: 80px
  color: #24333c
  line-height: 0px

.character_cv
  position: relative
  display: flex
  width: 330px
  height: 54px
  top: -300px
  left: 100px
  font-size: 24px
  color: #24333c
  line-height: 54px
  padding-left: 60px
  box-sizing: border-box
  background: #cca574 url('../assets/icon/char1.jpg') no-repeat
  background-position: left top
  background-size: 54px
  margin-top: 0px
  box-shadow: 2px 3px 6px 0 rgb(12 12 12 / 20%)

.character_voice
  position: absolute
  top: -5px
  right: -5px
  width: 64px
  height: 64px
  background-image: url('../assets/icon/char2.png')
  background-repeat: no-repeat
  background-position: center
  background-size: 64px
  cursor: pointer

.character_voice--active
  cursor: pointer
  background-image: url('../assets/icon/char2.gif')

.character_intro
  position: relative
  display: flex
  width: 45%
  top: -290px
  left: 100px
  max-height: 125px
  text-align: justify
  overflow-y: auto
  padding: 10px 0 10px 15px
  box-sizing: border-box
  background: rgba(1,1,1,0.5)
  font-size: 16px
  color: #fff
  margin-top: 17px
  line-height: 26px

.character_description
  height: 50%
  padding-right: 15px

.character_intro::before
  flex-shrink: 0
  display: block
  content: ''
  width: 20px
  height: 20px
  background: url('../assets/icon/char3.png') center no-repeat
  background-size: 20px
  margin-right: 8px
  margin-top: 4px

.pc_character .character_sidebar
  position: absolute
  z-index: 0
  top: 1820px
  right: 0px
  width: 200px
  height: 20%
  box-sizing: border-box

.pc_character .character_sidebar::before
  position: absolute
  top: 0px
  right: 37px
  display: block
  content: ''
  width: 2px
  height: 680px
  background: rgba(235,108,192,0.4)

.pc_character .charcter_city
  width: 100%
  height: 50px
  line-height: 91px
  font-size: 18px
  color: #24333c
  box-sizing: border-box
  margin-top: 5px
  top: 100px
  padding-left: 70px
  cursor: pointer
  background: 13px 20px no-repeat
  background-image: url('../assets/icon/li_no.png')
  background-size: 50px
  transform:scaleX(-1)

.pc_character .character_city_name
  transform:scaleX(-1)
  height: 25px

.character_small_out
  position: absolute
  width: 50px
  height: 800px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  top: 1780px
  right: 290px

.character_small
  position: relative
  width:70px
  height:70px
  top:15px
  border-radius: 10px

.character_small_bg
  background: url('../assets/img/char_sbg_hover.png') no-repeat center/100px
  width: 100px
  height: 100px
  margin-left: -21px
  margin-bottom: -19px

// home -- features
.features-bg
  width: 65%
  opacity: 0.85

.features-bg-o
  position: relative
  bottom: 10px
  height: 510px
  background: url('../assets/img/featrue_bg.png') no-repeat center
  background-size: 75% 510px

.pc_features .carousel
  position: relative
  top: 45px
  filter: drop-shadow(2px 3.5px 3px rgba(0, 0, 0, 0.3))

.pc_features .carousel-control-prev-icon
  opacity: 0

.pc_features .carousel-control-next-icon
  opacity: 0

.pc_features .carousel-control-prev
  background: url('../assets/icon/feature_left.png') no-repeat center/50px
  height:50px
  top:185px

.pc_features .carousel-control-next
  background: url('../assets/icon/feature_right.png') no-repeat center/50px
  height:50px
  top:185px

.sakura1
  background: url('../assets/img/sakura1.png')
  background-size: 350px 200px
  background-repeat: repeat
  height: 500px
  width: 1400px
  position:absolute
  right: 10px
  bottom: 1800px
  border-radius: 50%
  animation:sakurafall 5s linear forwards infinite
  transform:scaleX(-1)
  z-index: -1

.sakura
  background: url('../assets/img/sakura.png')
  background-size: 350px 200px
  background-repeat: repeat
  height: 500px
  width: 1100px
  position: absolute
  left: 20px
  bottom: 1000px
  border-radius: 50%
  animation:sakurafall 5s linear forwards infinite
  z-index: -1

@keyframes sakurafall
  0%
    background-position: 0 0
  
  20%
    background-position: 20px 20px
  
  40%
    background-position: 40px 40px
  
  60%
    background-position: 60px 60px
  
  80%
    background-position: 80px 80px
  
  100%
    background-position: 100px 100px 

// home -->footer
.footer
  padding: 0
  margin: 0
  width: 100%
  background: #111
  color: #fff

.row
  margin: 0

.footer_link 
  padding: 0 10px
  margin: 5px 0
  border-left: 1px solid #fff
  line-height: 1
  color: #d8d8d8

.footer_link:active, .footer_link:hover
  text-decoration: none
  color: #999
  cursor: pointer

.footer_img
  display: flex
  justify-content: flex-end
  align-items: center
  padding: 1.5rem

.copyright
  margin-top: 10px

.footer_content
  width:70%
  margin-top: 10px

.footer_img2
  display: flex
  justify-content: start

@media (max-width:768px)
  body,html
    overflow-x: hidden !important
    position: relative
    max-width: 100%
  
  .footer .row
    display: flex
    flex-direction: column

  .logoimg img
    position: relative
    width: 80%
    left: 20px

  .logoname img
    width: 80%
  
  .links
    font-size: 13.5px
  
  .copyright
    font-size: 13.5px
  
  .footer_content
    width: 100%
    font-size: 13.5px

  .footer_img2
    display: flex
    justify-content: center

  .sakura, .sakura1
    display: none
  
  .home
    background: url('../assets/img/m_home.jpg') no-repeat center/cover
    height: 100%
    transform: scale(1)

  // navber
  .topBar_m .barBox .bar_left .headName,.topBar_m .barBox .menu_m .menuBox li a span:first-child
    font-family: "Noto Sans TC",Microsoft JhengHei
  
  .topBar
    display: none

  .topBar_m
    position: fixed
    z-index: 100
    top: 0
    display: block
    width: 100vw
   
  .topBar_m:before
    content: ""
    position: absolute
    top:0
    display: block
    width: 100%
    height: 55px
    background:rgba(255,255,255,0.9)
    box-shadow:0 4px 4px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2)
  
  .topBar_m .barBox
    position: relative
    display: flex;
    justify-content: space-between
    align-items: flex-start
    padding: 0 0.5vw 0 1.5vw
    height: 55px

  .topBar_m .barBox .bar_left
    display:flex
    align-items:flex-start

  .topBar_m .barBox .bar_right
    display: flex
    align-items: center
    height:60px
    padding-right: 10px

  .topBar_m .barBox .bar_right .btn_menu
    position: relative
    z-index:21;
    width:46px;
    height:46px

  .topBar_m .barBox .menu_m
    position:fixed;
    top:0;
    right:-100vw;
    z-index:20;
    padding:12vw 0;
    width:100vw;
    height:100%;
    overflow:auto;
    background:#4c6491;
    transition:0.4s cubic-bezier(0.4,0,0.2,1)
  
  .topBar_m .barBox .menu_m.open
    right:0
  
  .topBar_m .barBox .menu_m .menuBox
    display: flex
    flex-wrap: wrap
    margin: auto
    width: 35vw
  
  .topBar_m .barBox .menu_m .menuBox li
    margin:auto
    width:50vw
    border-bottom:1px #62779e solid
  
  .topBar_m .barBox .menu_m .menuBox li a
    padding:2vw 0
    width:100%
    text-align: center
    text-decoration: none
  
  .topBar_m .barBox .menu_m .menuBox li a span:first-child
    margin-bottom: 3px
    font-size: 3.5vw
    color:#fff
    line-height: 3.5vw
  
  .topBar_m .barBox .menu_m .menuBox li a span:last-child
    font-size: 2vw
    color:#849cc8
    line-height: 2vw
  
  .topBar_m .barBox .menu_m .menuBox li .menus a
    padding: 0
    margin: 0 auto 1vw
    width: 33vw
    height: 6vw
    font-size: 3vw
    color:#a5fcff
    line-height: 6.5vw
    text-align: center
    background:#5e7bb1
    border-radius: 5px

  .topBar_m .icon
    display: flex
    justify-content: center
    align-self: center

  .poster
    display: none

  .m_poster
    display: block

  .m_poster #background-video
    position: relative
    right: 0
    bottom: 0
    width: 100vw
    height: 100vh

  h2
    left: 50%
    right: auto
    text-align: center
  
  .title_img
    display: none
  
  img
    vertical-align: middle
    border-style: none
  
  .m_title_img
    display: block
    width: 100%
  
  .pc_news
    position: relative
    display: flex
    width: 100%
    height: 100%
    top: -40px
    flex-direction: column
  
  .m-row
    display: block
    position: relative
    margin-right: -15px
    margin-left: -15px 

  .new-carousel
    height: auto
    padding-bottom: 20px 

  .new-carousel .imgsize
    width: 100%
    height: auto

  .news-all
    width: 100%
    height: auto

  #new .tabNav
    width: 100%

  #new .tabNav .tab_nav a
    padding: 10px 10px
    font-size: 16px
    color:#575f6d
    line-height: 18px
    text-align: center
    border-radius: 8px 8px 0 0  
  
  #new .tabs .list a>*
    line-height: 25px

  #new .tabs .list a span
    left: 0;
    width: 50px;
    color: #fff;
    text-align: center;
    background: #627eb2;
    border-radius: 4px;
    position: absolute;
    top: 9px;
  
  .newstitle
    padding-top: 9px
    padding-bottom: 10px
    padding-left: 65px
    width: 75%
    color:#575f6d
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    text-align: left
    font-size: 14px
  
  .newsdate
    position: absolute
    top: 0
    margin: 9px 0 8px
    right: 0
    font-size: 14px
    color:#575f6d 
  
  #new .tabNav .btn_more
    position: absolute
    top: 0
    right: 0
    bottom: 0
    margin: auto
    width: 50px
    height: 30px
    font-size: 13px
    color:#fff
    line-height: 30px
    text-align: center
    background:#575f6d
    border-radius: 4px

  .pc_world
    position: relative
    width: 100%
    top: 105px

  .world-bg
    width: 400px
    height: 300px

  .worldname
    position: relative
    background: url('../assets/img/world_title.png') no-repeat center
    background-size: contain
    height: 30px
    top: 12px

  .pc_world span
    color: #fff
    text-shadow: 3px 2px 1px #947f6a;
    font-size: 18px

  .pc_world .world-content
    display: flex
    position: absolute
    color: #fff
    text-shadow: 3px 2px 1px #947f6a;
    line-height: 35px
    width: 100%
    height: 100%
    font-size: 13px
    justify-content: center
    top: 100px

  .pc_world .carousel-control-prev-icon
    background: url('../assets/icon/arrow_left.png') no-repeat center/40px
    opacity: 1

  .pc_world .carousel-control-prev
    bottom: 423px
    left: 30px

  .pc_world .carousel-control-next-icon
    background: url('../assets/icon/arrow_right.png') no-repeat center/40px
    opacity: 1

  .pc_world .carousel-control-next
    bottom: 423px
    right: 30px
  
  .pc_world .carousel-inner
    height: 480px
    
  .pc_world .city_detail
    position: absolute
    display: flex
    width: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    bottom: -100px
    border: none
    background: transparent
    cursor: pointer

  .pc_world .city_detail::before
    z-index: 2
    display: block
    content: ''
    width: 40px
    height: 40px
    transform-origin: center
    background:url('../assets/icon/world_open.png') center no-repeat
    background-size: 100% auto
  
  .pc_world .city_detail::after
    content: ''
    position: absolute
    top: 22px
    left: 50%
    width: 80px
    height: 80px
    background:url('../assets/icon/world_open_out.png') center no-repeat
    background-size: cover
    transform-origin: center
    animation: wave 1s linear infinite
  
  .pc_world .city_detail p
    color: #947f6a
    font-size: 10px
    text-align: center

  .pc_features
    position: relative
    width: 100%
    // top: 30px

  .features-bg-o
    position: relative
    bottom: 65px
    width: 100%
    height: 38vh
    background: url('../assets/img/featrue_bg.png') no-repeat center
    background-size: 75% 65%

  .features-bg-o .carousel-inner
    position: relative
    top: 40px

  .features-bg
    width: 65%
    height: 100%
    top: 20px
    opacity: 0.85

  .pc_features .carousel-control-prev
    background: url('../assets/icon/feature_left.png') no-repeat center/30px
    height:50px
    top:90px

  .pc_features .carousel-control-next
    background: url('../assets/icon/feature_right.png') no-repeat center/30px
    height:50px
    top:90px

  .pc_character
    display: none

  .m_character
    display: block
    position: relative
    width: 100%
    top: -55px
  
  .character_bk
    height: 625px
  
  .character_pimg
    position: relative
    width: 100%
    top: -30px
    left: 0px
    opacity: 0.95

  .character_name
    position: relative
    display: flex
    width: 100%
    height: 54px
    top: -315px
    left: 10px
    font-size: 48px
    color: #24333c
    line-height: 0px
  
  .character_cv
    position: relative
    display: flex
    width: 180px
    height: 38px
    top: -330px
    left: 10px
    font-size: 18px
    color: #24333c
    line-height: 40px
    padding-left: 10px
    box-sizing: border-box
    background: #cca574 url('../assets/icon/m_char.jpg') no-repeat
    background-position: left top
    background-size: 40px
    margin-top: 0px
    box-shadow: 2px 3px 6px 0 rgb(12 12 12 / 20%)
  
  .character_voice
    position: absolute
    top: -13px
    right: -14px
    width: 64px
    height: 64px
    background-image: url('../assets/icon/char2.png')
    background-repeat: no-repeat
    background-position: center
    background-size: 46px
    cursor: pointer
  
  .character_voice--active
    cursor: pointer
    background-image: url('../assets/icon/char2.gif')  
  
  .character_attribute
    width: 80%
    position: absolute
    left: 0px
    z-index: -1
    opacity: 0.5

  .character_option
    position: relative
    width: 25%
    top: 150px
    left:7px
    z-index: 1
  
  .m_character .character_small_all
    width: 100%
    height: 300px
    margin: auto
    top: 180px
    position: relative

  .m_character .character_small_out
    width:350px
    height: auto
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    display: flex
    flex-direction: row

  .m_character .character_small
    position: relative
    width:50px
    height:50px
    top:11px
    border-radius: 10px
  
  .m_character .character_small_bg
    background: url('../assets/img/char_sbg_hover.png') no-repeat center/100px
    width: 70px
    height: 70px
    margin-left: 0px
    margin-right: 0px

@media (max-width:576px)
  .topBar_m .barBox .menu_m .menuBox
    width:50vw
  
  .topBar_m .barBox .menu_m .menuBox li a
    padding:4vw 0

  .topBar_m .barBox .menu_m .menuBox li a span:first-child
    font-size:6vw
    line-height:6vw
  
  .topBar_m .barBox .menu_m .menuBox li a span:last-child
    font-size:3.5vw
    line-height:3.5vw
  
  .topBar_m .barBox .menu_m .menuBox li .menus a
    margin:0 auto 2.2vw
    width:46vw
    height:9.5vw
    font-size:4.5vw
    line-height:9.5vw
  
  .topBar_m .barBox .menu_m .menuBox li .menus a:last-child
      margin-bottom:5vw
    .character_option
    position: relative
    width: 25%
    top: -45px
    left:7px
    z-index: 1
  
  .home
    background: url('../assets/img/m_home.jpg') no-repeat center/cover
    height: 100%
    transform: scale(1)

  .m_character .character_small_all
    width: 100%
    height: 300px
    margin: auto
    top: -20px
    position: relative

  .m_character .character_small_out
    width:350px
    height: auto
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto
    display: flex
    flex-direction: row

  .m_character .character_small
    position: relative
    width:50px
    height:50px
    top:11px
    border-radius: 10px
  
  .m_character .character_small_bg
    background: url('../assets/img/char_sbg_hover.png') no-repeat center/100px
    width: 70px
    height: 70px
    margin-left: 0px
    margin-right: 0px

  .pc_world
    position: relative
    width: 100%
    top: -105px
   
  .pc_features
    position: relative
    width: 100%
    top: -160px